name: Release Backend

on:
  push:
    branches: [main]

env:
  CONTAINER_IMAGE: chr0nu5/base:pokedeiz-backend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Build Frontend
        working-directory: ./frontend
        run: |
          npm install --legacy-peer-deps
          NODE_ENV=production npm run build

      - name: Copy Frontend Build to Backend
        run: |
          rm -rf backend/build
          cp -r frontend/build backend/

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and tag the image
        working-directory: ./backend
        run: |
          docker build . --file Dockerfile --tag $CONTAINER_IMAGE

      - name: Push
        working-directory: ./backend
        run: |
          docker push $CONTAINER_IMAGE

      - name: Deploy to Portainer
        run: |
          curl -X POST https://docker-threadripper.john.dev.br/api/webhooks/1c55f470-df5c-4893-a669-e96425027b63
