name: Release Backend

on:
  push:
    branches: [main]

env:
  CONTAINER_IMAGE: chr0nu5/base:pokedeiz-backend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and tag the image
        working-directory: ./backend
        run: |
          docker build . --file Dockerfile --tag $CONTAINER_IMAGE

      - name: Push
        working-directory: ./backend
        run: |
          docker push $CONTAINER_IMAGE
