name: Release Frontend

on:
  push:
    branches: [main]

env:
  CONTAINER_IMAGE: chr0nu5/base:pokedeiz-frontend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Frontend
        working-directory: ./frontend
        env:
          NODE_ENV: production
          REACT_APP_API_URL: https://pokedeiz-api.john.dev.br
        run: |
          npm ci --legacy-peer-deps
          npm run build

      - name: Build and tag the frontend image
        working-directory: ./frontend
        run: |
          docker build . --file Dockerfile --tag $CONTAINER_IMAGE

      - name: Push Frontend
        working-directory: ./frontend
        run: |
          docker push $CONTAINER_IMAGE

      - name: Deploy to Portainer
        run: |
          curl -X POST https://docker-threadripper.john.dev.br/api/webhooks/1fba8a8b-6b66-4cd4-ae05-4d9bdba9a49e
