name: Release Frontend

on:
  push:
    branches: [main]
    paths:
      - "frontend/**"
      - ".github/workflows/release-frontend.yml"

env:
  CONTAINER_IMAGE: chr0nu5/base:pokedeiz-frontend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Install Dependencies
        working-directory: ./frontend
        run: |
          npm install --legacy-peer-deps
          npm install --save-dev @types/three@^0.160.0

      - name: Build Frontend
        working-directory: ./frontend
        env:
          NODE_ENV: production
        run: npm run build

      - name: Build and tag the frontend image
        working-directory: ./frontend
        run: |
          docker build . --file Dockerfile --tag $CONTAINER_IMAGE

      - name: Push Frontend
        working-directory: ./frontend
        run: |
          docker push $CONTAINER_IMAGE

      - name: Deploy to Portainer
        run: |
          curl -X POST https://docker-threadripper.john.dev.br/api/webhooks/d791d6fc-d67d-4ed9-afe7-6c6aeee3d4dc

      - name: Clean Cache
        run: |
          curl -X Post https://api.cloudflare.com/client/v4/zones/0c9fb9eb38cf576406a2fca1897806d9/purge_cache
